:root {
    font-size: 14px;
}

header {
    height: 25vh;
}

.opacity {
    background-color: rgb(184, 184, 184, 0.4);
    border-bottom: 1px solid white;
}

.bandeau {
    background: rgba(73, 73, 73, 0.6);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.devName {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.devJob {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}

.bloc_cv {
    color: rgb(255, 255, 255);
    /* border-radius: 1rem!important;
    background-color: rgb(163, 163, 163); */
}

.bloc_cv h2 {
    color: white;
    margin-top: 10px;
}

.bloc_cv p {
    font-size: 1.3rem;
}

.top{
    background: url(/assets/img/clavier_mobile.jpg);
    background-position: fixed; 
    background-size: cover;
}
@media ( min-width: 576px ) {
    header {
        height: 35vh;
    }
    .devJob, .devName{
        font-size: 3rem;
    }
}

@media ( min-width: 768px ) {
    header {
        height: 50vh;
    }
    .devJob, .devName{
        font-size: 3.5rem;
    }
}

@media ( min-width: 1200px ) {
    header {
        height: 100vh;
    }
    .devJob, .devName{
        font-size: 5rem;
    }
}

.main {
    background: linear-gradient(#09090B, #0092DD);
}

.bottom {
    background-color: #09090B;
    color: rgb(255, 255, 255);
}

.bottom p {
    margin: 1rem;
    font-size: 1.3rem;
}

.bottom p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.backColor {
    background: rgb(78, 78, 78, 0.95);
}

.nav-link {
    font-size: 1.4rem;
    padding: 10px;
    margin: 0 15px;
    border-bottom: 1px solid white;
}