:root {
    font-size: 14px;
}

header {
    height: 25vh;
}

.devName {
    color: aqua;
    text-align: center;
    margin: 0;
}

.devJob {
    color: aqua;
    text-align: center;
    margin: 0;
}

.bloc_cv {
    border-radius: 1rem!important;
    background-color: #AB3711;
}

.bloc_cv h2 {
    color: aqua;
    margin-top: 10px;
}

.bloc_cv p {
    font-size: 1.3rem;
}

.top{
    background: url(/assets/img/clavier_mobile.jpg);
    background-position: fixed; 
    background-size: cover;
}
@media ( min-width: 576px ) {
    header {
        height: 35vh;
    }
    .devJob, .devName{
        font-size: 3rem;
    }
}

@media ( min-width: 992px ) {
    header {
        height: 40vh;
    }
    .devJob, .devName{
        font-size: 3.5rem;
    }
}

@media ( min-width: 1200px ) {
    header {
        height: 100vh;
    }
    .devJob, .devName{
        font-size: 4rem;
    }
}

.main {
    background: linear-gradient(#09090B, #0092DD);
}

.bottom {
    background-color: #09090B;
    color: aqua;
}

.bottom p {
    margin: 1rem;
    font-size: 1.3rem;
}

.bottom p a {
    color: aqua;
    text-decoration: none;
}

.interieurBloc1 {
    background-color: #939596;
}
